DOMAIN=localhost:18080
VERSION=2024.9.9

DB_DSN=postgres://corteza:corteza@db:5432/corteza?sslmode=disable

HTTP_WEBAPP_ENABLED=true
HTTP_WEBAPP_LIST=admin,compose,workflow,reporter,tickets

ACTIONLOG_ENABLED=true

AUTH_JWT_SECRET=replace-with-at-least-thirty-random-characters
